<Message::Avatar
  @title="{{@username}}'s avatar"
  @initial={{substring @username start=0 end=1}}
  @isActive={{@userIsActive}}
  class="{{if @isCurrentUser "current-user"}}"
/>
<section>
  <Message::Username
    @username={{@username}}
    @localTime={{@userLocalTime}}
  />

  {{ yield }}

</section>